#root {
  position: relative;
  text-align: center;
}

#cartImg {
  height:20px;
}

#totalCartBtn {
  max-width: fit-content;
}

#totalCartBtn:hover {
  background:black;
  color:white;
}

.cartbtn:hover {
  background: black;
  color: white;
}

#navbar {
  position: sticky;
  top:0;
  z-index: 99;
}

.body-header {
  border-radius : 20px;
  min-height: 100px;
  h1 {
    font-size: 4.5rem;
  }
  p {
    letter-spacing: 2px;
  }
}

.body-header img{
  left:0;
  bottom:0;
  z-index:-1;
  object-fit: cover;
  background-image: url("./assets/header-bg.jpg");
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.starImg {
  width:6rem;
  object-fit: scale-down;
}


.cart-icon {
  color: black;
  font-size: 20px;
}


.letterspacing-2 {
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.footer {
  margin:0;
  width: 100%;
  height:8rem;
}
